<%= form_tag url(:create_comment) %>
    
    <%= input_tag :hidden, :value=>"#{comment._type}", :name=>"comment[_type]" %>
    <%= input_tag :hidden, :value=>"#{comment.parent.id}", :name=>"parent[id]" %>
    <%= input_tag :hidden, :value=>"#{comment.parent.class}", :name=>"parent[type]" %>
    
    <% comment.errors.messages.each do |message| %>
      <%= message %>
    <% end %>
    
    <% if current_user.is_guest? %>
      <p>
        <%= "Name " + comment.errors[:guest_name].join(";") unless comment.errors[:guest_name].blank? %>
        <label for="name">Name:</label>
        <%= input_tag :text, :value=>"#{comment.guest_name}", :name=>"comment[guest_name]", :id=>"comment_guest_name" %>
      </p>
      <p>
        <%= "Email " + comment.errors[:guest_email].join(";") unless comment.errors[:guest_email].blank? %>
        <label for="email">Email:</label>
        <%= input_tag :text, :value=>"#{comment.guest_email}", :name=>"comment[guest_email]", :id=>"comment_guest_email" %>
      </p>

      <p>
        <label for="email">WWW:</label>
        <%= input_tag :text, :value=>"#{comment.guest_www}", :name=>"comment[guest_www]", :id=>"comment_guest_www" %>
      </p>
    <% else %>
        <%= input_tag :hidden, :value=>"#{current_user.id}", :name=>"comment[user_id]" %>  
    <% end %>
    <p>
      <%= "Content " + comment.errors[:content].join(";") unless comment.errors[:content].blank? %>
      <label for="title">Content:</label>
      <%= tag(:textarea, :content=>h(comment.content), :name=>"comment[content]", :id=>"comment_content") %>
    </p>
    <p>
      <%= input_tag :submit, :value=>"Submit" %>
    </p>
</form>