<%= form_tag @post %>
  <p>
    <label for="title">Title:</label>
    <%= input_tag :text, :value=>"#{@post.title}", :name=>"post[title]", :id=>"post_title" %>
  </p>
  <p>
    <label for="title">Preface:</label>
    <%= tag(:textarea, :content=>h(@post.preface), :name=>"post[preface]", :id=>"post_preface") %>
  </p>
  <p>
    <label for="title">Content:</label>
    <%= tag(:textarea, :content=>h(@post.content), :name=>"post[content]", :id=>"post_content") %>
  </p>
  <p>
    <%= check_box_tag(@post, :is_published) %> Publish
  </p>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>

 
