<h1><%= @post.title %> - <%= @post.is_published %></h1>
<p><strong><%= @post.preface %></strong></p>
<p><%= @post.content %></p>

<h2>Comments: <%= @post.comments.size %></h2>

<% @post.comments.each do |comment| %>
	<p>
		<h3><%= comment.user.email rescue comment.guest_name %></h3>
		<small><%= comment.created_at %></small>
		<div><%= comment.content %></div>
	</p>
<% end %>

<%= partial "/comments/form", { :with => @post, :comment => @post.comments.new } %>


<%= link_to "Show all", url(:posts) %> 

<% if current_user.is_admin? %>
	|
	<%= link_to "Edit", url_to(@post, :edit) %> 

	<form accept-charset="UTF-8" action="<%= url_to(@post, :destroy) %>" method="post">
	    <input name="_method" type="hidden" value="delete" />
	    <input type="submit" value="Delete" />
	</form>
<% end %>